
@*@model List<Studentdatabase_management_system.Models.Student>*@

    <div class="text-center">
        <a asp-controller="Admin" asp-action="AddStudent">Add student</a>
        <a asp-controller="Batch" asp-action="AddBatch">Add Batch</a>

    </div>

@if (ViewBag.Students.Count == 0)
{

    <p>No Students added</p>
}
else
{
<table class="table">
        <tr>
            <th>
                Students Name

            </th>
        </tr>
        <tr>

            @foreach (Student student in ViewBag.Students)
            {
                <td><a asp-controller="Admin" asp-action="StudentDetails" asp-route-id="@student.Id">@student.Name</a></td>
                <td>
                    <a asp-controller="Admin" asp-action="edit" asp-route-id="@student.Id"
                       class="btn btn-primary m-1">Edit</a>
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="delete" asp-route-id="@student.Id"
                       class="btn btn-primary m-1" method="post">Delete</a>
                </td>
            }

        </tr>

    </table>
}

    @if (ViewBag.Batch.Count == 0)
    {
        <p>No Batches available</p>
    }
    else
    {
<table class="table">
    <tr>
        <th>
            Batch Name

        </th>
    </tr>
    <tr>

        @foreach (Batch batch in ViewBag.Batch)
        {
            <td><a asp-controller="Batch" asp-action="BatchDetails" asp-route-id="@batch.BatchId">@batch.Name</a></td>
            <td>
                <a asp-controller="Batch" asp-action="edit" asp-route-id="@batch.BatchId"
                   class="btn btn-primary m-1">Edit</a>
            </td>
            <td>
                <a asp-controller="Batch" asp-action="delete" asp-route-id="@batch.BatchId"
                   class="btn btn-primary m-1" method="post">Delete</a>
            </td>
        }

    </tr>

</table>

    }

