
@model Studentdatabase_management_system.ViewModels.AddStudentDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Student Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Student Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Batch</th>
        <td>@Model.BatchName</td>
    </tr>
    <tr>
        <th>BatchId</th>
        <td>@Model.BatchId</td>
    </tr>
    <tr>
        <th>Class Schedule</th>
        <td>@Model.ClassSchedule</td>
    </tr>
    <tr>
        <th>Announcement</th>
        <td>@Model.Announcement</td>
    </tr>
</table>