@model Studentdatabase_management_system.ViewModels.AddBatchDetailViewModel

<h1>@Model.BatchName</h1>

<table class="table">
    <tr>
        <th>Batch Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Batch Name</th>
        <td>@Model.BatchName</td>
    </tr>
  
    <tr>
        <th>Class Schedule</th>
        <td>@Model.ClassSchedule</td>
    </tr>
    <tr>
        <th>Announcement</th>
        <td>@Model.Announcements</td>
    </tr>
</table>
